<HTML>
	<HEAD>
    	<TITLE>Notification System</TITLE>
	</HEAD>

	<BODY style="font-size: 13px; font-family: Arial;">
		<P>Dear $terminationNotification.getMailRecipientName(),</P>
		
		<P>
			Please find below the list of employees with their termination dates.
		</P>

        <table>
            #foreach( $employeeGroup in $terminationNotification.getEmployeeGroups() )

                <tr style="font-weight: bold;">
                    <td colspan="6">$employeeGroup.getDescription()</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td style="border-right: 20px solid white;">Employee ID</td>
                    <td style="border-right: 20px solid white;">First name</td>
                    <td style="border-right: 20px solid white;">Last name</td>
                    <td style="border-right: 20px solid white;">Description</td>
                    <td style="border-right: 20px solid white;">Position</td>
                    <td style="border-right: 20px solid white;">Termination Date</td>
                </tr>

                #foreach( $employee in $employeeGroup.getEmployees() )
                    <tr>
                        <td>$employee.getEmployeeNumber()</td>
                        <td>$employee.getFirstName()</td>
                        <td>$employee.getLastName()</td>
                        <td>$employee.getDescription()</td>
                        <td>$employee.getPosition()</td>
                        <td>$employee.getTerminationDate()</td>
                    </tr>
                #end

                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>

            #end
        </table>

		#set ($tdLabel = "font-weight: bold; width: 90px; height: 22px; ")

	 	<P>*** This is an automatically generated email, please do not reply ***<P>
 
    </BODY>
  </HTML>