body {
  font-family: Verdana,sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  min-width: 900px;
  color: #333;
  background-color: #fff;
  line-height: 1.4;
  display: block;
}

#header {
  font: 13px Helvetica,arial,freesans,clean,sans-serif;
  background-position-y: 11%;
  background: #5c5e60;
  padding: 10px 8px 10px 10px;
  height: auto;
}
#header>h1 {
  padding-left: 50px;
  color: #fff;
}
#main {
  background: transparent;
  background-color: #fff;
}
body.action-login #content, body.action-login #main.nosidebar #content {
  background: inherit;
  border: 0;
  box-shadow: none;
}
div#main.nosidebar div#content {
  margin-right: 0;
}
#content, #main.nosidebar #content {
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: 0 3px 5px rgba(0,0,0,0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div#content {
  margin-right: 300px;
  width: auto;
}
#content {
  min-height: 200px;
  padding-left: 40%;
  padding-top: 12%;
}
#content #link-panel, #content #login-form {
  display: inline-block;
}
body.action-login #login-form table {
  padding: 3em;
  background: white;
  -webkit-box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#footer {
  text-align: center;
  border: 0;
  border-top: 1px solid #e0e0e0;
  color: #636363;
  padding: 15px;
  position: absolute;
  height: 15px;
  left: 0;
  right: 0;
  bottom: 0;
}
#footer .bgl .bgr:after {
  content: "";
}