.colCode{
  width: 100px;
}
.colName{
  width: 600px;
}
.colActive{
  width: 72px;
  text-align: center;
}
.input-small{
  width:75px;
}
.input-medium{
  width: 220px;
}
.input-address {
  width:200px;
}
